<!-- partials/navigation.ejs -->

<nav id="main-menu">
    <ul class="menu">
        <li class="menu-item"><a href="/">Home</a></li>
        <li class="menu-item"><a href="/courses.html">Courses</a></li>
        <li class="menu-item"><a href="/contact.html">Contact</a></li>
    </ul>
</nav>