<!-- index.ejs -->

<!-- EJS language support 설치 -->
<!-- https://marketplace.visualstudio.com/items?itemName=DigitalBrainstem.javascript-ejs-support -->

<% let name = "Aaron"; %>
<h1>Hello, <%= name %></h1>