<!-- index.ejs (p. 159) -->

<!-- EJS language support 설치 -->
<!-- https://marketplace.visualstudio.com/items?itemName=DigitalBrainstem.javascript-ejs-support -->

<% let name = "Aaron"; %><!-- EJS의 변수 할당 정의 -->
<h1>Hello, <%= name %></h1>
<!-- HTML내에서의 내장 변수 사용 -->
