<!-- layout.ejs (p. 162) -->

<body>
    <header id="nav">
        <%- include('partials/navigation') %>
    </header>
    <%- body %><!-- 표준 HTML로 본문 둘러싸기 -->
    <footer id="footer">FOOTER</footer>
</body>