<header class="header">
    <div class="container">
      <div class="container-left">
        <!-- 로고 -->
        <figure class="logo">
          <a href="/">
            🚈
            <h1 class="site-title">
              <span class="ut-red">UT</span>-NodeJS 중간고사
            </h1>
          </a>
        </figure>

        <% include('navigation') %>
      </div>
    </div>
  </header>