<!-- 메뉴 -->
<nav class="menu">
    <a
        class="menu-item"
        name="Transportation"
        href="/transportation.html"
        >교통</a
    >
    <a class="menu-item" name="Contact" href="/contact.html">연락</a>
</nav>

<!-- 반응형 메뉴 버튼 -->
<div id="menu-button">Menu</div>