<!-- contact.ejs (p. 180) -->

<!-- @TODO: -->
<main class="">
  <div class="container col-xl-10 col-xxl-8 px-4 py-5">
    <div class="row align-items-center g-lg-5 py-3">
      <div class="col-lg-7 text-center text-lg-start mb-3">
        <figure>
          <img
            src="https://cdn.pixabay.com/photo/2022/12/09/01/25/cockle-bibimbap-7644275_960_720.jpg"
          />
        </figure>
        <h1 class="display-4">Contact Us</h1>
        <p class="lead col-lg-10 fs-4">Get in touch to find out more.</p>
      </div>

      <div class="col-md-10 mx-auto col-lg-5 mb-5">
        <form
          class="p-4 p-md-5 border rounded-3 bg-light"
          action="/contact"
          method="post"
        >
          <div class="form-floating mb-3">
            <input
              type="text"
              class="form-control"
              id="floatingName"
              placeholder="Name"
            />
            <label for="floatingName">Name</label>
          </div>
          <div class="form-floating mb-3">
            <input
              type="email"
              class="form-control"
              id="floatingInput"
              placeholder="name@example.com"
            />
            <label for="floatingInput">Email address</label>
          </div>
          <div class="checkbox mb-3">
            <label>
              <input type="checkbox" value="subscribe" /> Subscribe to
              Newsletter
            </label>
          </div>
          <button class="w-100 btn btn-lg btn-primary" type="submit">
            Submit
          </button>
          <hr />
          <small class="text-muted"
            >We'll never share your email with anyone else.</small
          >
        </form>
      </div>
    </div>
  </div>
</main>
