<!-- thanks.ejs -->
<!-- @TODO: -->
<main class="">
  <div class="container col-xl-10 col-xxl-8 px-4 py-5">
    <div class="row align-items-center g-lg-5 py-5">
      <div class="col-lg-7">
        <figure>
          <img
            src="https://cdn.pixabay.com/photo/2022/12/09/01/25/cockle-bibimbap-7644275_960_720.jpg"
          />
        </figure>
      </div>

      <div class="col-md-10 mx-auto col-lg-5 text-center text-lg-start">
        <h1 class="display-4">Thanks!</h1>
        <p class="lead col-lg-10 fs-4">We'll keep you posted!</p>
      </div>
    </div>
  </div>

  <%- include('partials/confetti') %>
</main>
