<main id="index" class="text-center cover-container">
  <div class="cover-content h-100 w-100 text-white">
    <div class="cover-box-2">
      <h1 class="page-title">
        <span class="ut-red">UT</span>-NodeJS 중간고사
      </h1>
      <p class="page-description lead">
        I changed this simple site to an Express site.
      </p>
    </div>
  </div>
</main>