<!-- UT-NodeJS 중간고사 -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>UT-NodeJS 중간고사 | Aaron Snowberger</title>

    <!-- 학생 이름과 학번 -->
    <meta name="author" content="Aaron Snowberger" />
    <meta name="description" content="Midterm Test" />

    <!-- CSS 파일에 대한 link테그를 수정하십시오 -->
    <link href="/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/style.css" />
    <link
      rel="stylesheet"
      media="(max-width: 768px)"
      href="/css/style.small.css"
    />

    <!-- JS 파일에 대한 script테그를 수정하십시오 -->
    <script defer src="/js/functions.js"></script>
  </head>

  <body>
    <!-- HEADER -->
    <%- include('partials/header') %>

    <!-- MAIN 페이지 내용 -->
    <%- body %>

    <!-- FOOTER -->
    <%- include('partials/footer') %>

    <!-- Bootstrap의 JS -->
    <script src="/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
